# Essential Python 101

Today we are learning Python 101 for beginners.


*   variables
*   data types
*   data structures
*   function
*   control flow
*   OOP

In [ ]:
print("I am learning Python 101")

I am learning Python 101

In [ ]:
# comment
# this is a note
print(1+1)
print(2*2)

2
4

In [ ]:
print(7/2)
print(7//2) # floor division

3.5
3

In [ ]:
pow(5,2)

25

In [ ]:
abs(-666)

666

In [ ]:
# modulo
5 % 2

1

In [ ]:
# 5 buiding blocks
# 1. variables
# 2. data types
# 3. data stuctures
# 4. function
# 5. control flow
# 6. OOP

In [ ]:
# 1. variables
# assign a variables
my_name = "Nam"
age = 22
gpa = 2.57
movie_lover = True # False

In [ ]:
# case sensitive ตั้งตัวแปลเป็นพิมพ์เล็กทั้งหมด
print(age, gpa, movie_lover, my_name)

22 2.57 True Nam

In [ ]:
# over write a value
new_age = 25
print(age)

25

In [ ]:
s23_price = 30000
discount = 0.15
new_s23_price = s23_price * (1 - discount)

print(new_s23_price)

25500.0

In [ ]:
# remove variables
del s23_price

In [ ]:
# count variables
age = 30
age += 1 
age += 1 
age += 1 
age -= 2  # age - 2
age *= 2
age /= 2
print(age)

31.0

In [ ]:
# 2. data types
# int float str bool

In [ ]:
age = 22
gpa = 2.57
school = "Khon Kaen"
movie_lover = True

In [ ]:
# check data types
print( type(age))
print( type(gpa))
print( type(school))
print( type(movie_lover))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# convert types
x = 100
x = str(x)
print(x, type(x))

100 <class 'str'>

In [ ]:
y = True # True = 1, False = 0
y = int(y)
print(y, type(y))

1 <class 'int'>

In [ ]:
z = 1
z = bool(z)
print(z, type(z))

True <class 'bool'>

In [ ]:
text = "I'm learning Python"
text2 = '"hahahaha'
print(text, text2)

I'm learning Python "hahahaha

In [ ]:
text = "hello"
text + text

'hellohello'

In [ ]:
# type hint
age: int = 22
my_name: str = "Nam"
gpa: float = 2.57
seafood: bool = True

In [ ]:
print(age, type(age))

22 <class 'str'>

In [ ]:
# 4. function
print("hello", "world")
print(pow(5, 2), abs(-5))

hello world
25 5

In [ ]:
# greeting() สร้าง function
def greeting(name="Nam", location = "London"):
    print("Hello! " + name)
    print("He is in " + location)

In [ ]:
greeting(location="Japan", name="Naruto")

Hello! Naruto
He is in Japan

In [ ]:
def add_two_nums(num1, num2):
    print("hello word")
    return num1 + num2 # ส่งค่าบางอย่างกลับมา
    print("Don!") # ต้องทำทุกอย่างก่อน return

In [ ]:
result = add_two_nums(5, 15)
print(result)

hello word
20

In [ ]:
def add_two_nums(a: int, b:int) -> int:
    return a+b

In [ ]:
add_two_nums(5,6)

11

In [ ]:
# work with string 
long_text = """
 this is a
 very long text
 this id a new line"""

print(long_text) # ห้ามเว้นวรรค มันจะ error

 this is a
 very long text
 this id a new line

In [ ]:
# string template : fstring
my_name = "John Wick"
location = "London"

text = f"Hi! my name is {my_name} and I live in {location}."

print(text)

Hi! my name is John Wick and I live in London.

In [ ]:
"Hi my name is {}, location: {}". format(my_name, location)

'Hi my name is John Wick, location: London'

In [ ]:
text = "a duck walks into a bar"
print(text)

a duck walks into a bar

In [ ]:
len(text)

23

In [ ]:
# slicing, index starts with 0
print(text[0], text[22], text[-1])

a r r

In [ ]:
text

'a duck walks into a bar'

In [ ]:
# up to but not include
print(text[2:5], text[2:6])

duc duck

In [ ]:
text[13:17]

'into'

In [ ]:
text[7: ]

'walks into a bar'

In [ ]:
# string is immutable
name = "Python" # -> Cython
# name[0] = "C" # อัพเดทค่าไม่ได้ ต้องประกาศแบบอื่น
name = "C" + name[1: ]
print(name)

Cython

In [ ]:
name = "Python"
name = "Cython"

print(name)

Cython

In [ ]:
text = "a duck walks into a bar"

In [ ]:
# function vs. method ฟังก์ชันที่เกิดมาสำหรับ data นั้นๆ
# strinf methods
text = text.upper()
print(text)

A DUCK WALKS INTO A BAR

In [ ]:
text.lower()

'a duck walks into a bar'

In [ ]:
text.title()

'A Duck Walks Into A Bar'

In [ ]:
text = text.lower()

In [ ]:
text.replace("duck", "lion")

'a lion walks into a bar'

In [ ]:
words = text. split(" ")
print(words, type(words))

['a', 'duck', 'walks', 'into', 'a', 'bar'] <class 'list'>

In [ ]:
" ".join(words)

'a duck walks into a bar'

In [ ]:
"+".join(words)

'a+duck+walks+into+a+bar'

In [ ]:
# method = function ทีถูกสร้างขึ้นมาสำหรับ object นั้นๆ
# ใช้ได้กับ string เท่านั้น
# string is immutable ไม่สามารถอัพเดทค่าข้างในได้

In [ ]:
# 3. data structures
# 1. list []
# 2. tuple ()
# 3. dictionary {}
# 4. set {unique}

In [ ]:
# list
shopping_items = ["banana", "egg", "milk"]
print(shopping_items[0])
print(shopping_items[1])
print(shopping_items[2])
print( len(shopping_items))

banana
egg
milk
3

In [ ]:
# list is mutable อัพเดทค่าใน list ได้
shopping_items = ["banana", "egg", "milk"]
shopping_items[0] = "pineapple" # อัพเดทค่าใน list 
shopping_items[1] = "ham cheese"
print(shopping_items)

['pineapple', 'ham cheese', 'milk']

In [ ]:
# list methods
shopping_items.append("egg") # เพิ่ม list เข้าไปได้
print(shopping_items)

['pineapple', 'ham cheese', 'milk', 'egg', 'egg']

In [ ]:
# sort items (A-Z)
shopping_items.sort(reverse=True) # Z-A
print(shopping_items)

['pineapple', 'milk', 'ham cheese', 'egg', 'egg']

In [ ]:
# reusable ใช้งานได้เรื่อยๆ แค่เรียกใช้
def mean(scores):
    return sum(scores) / len(scores)

In [ ]:
scores = [90, 88, 85, 92, 75]
print(len(scores), sum(scores), 
      min(scores), max(scores), mean(scores)) # ไม่มี ค่าเฉลี่ย

5 430 75 92 86.0

In [ ]:
sum(scores) / len(scores) # mean

86.0

In [ ]:
# remove last items ลบตัวสุดท้ายทิ้ง
shopping_items.pop()
shopping_items

['pineapple', 'milk', 'ham cheese', 'egg']

In [ ]:
shopping_items.remove("milk")
shopping_items

['pineapple', 'ham cheese', 'egg']

In [ ]:
# .insert()
shopping_items.insert(1, "milk")

In [ ]:
shopping_items

['pineapple', 'milk', 'ham cheese', 'egg']

In [ ]:
# list + list
items1 = ["egg", "milk"]
items2 = ["banana", "bread"]

print(items1 + items2)

['egg', 'milk', 'banana', 'bread']

In [ ]:
# tuple () is immutable ใช้เก็บค่าที่ไม่อยากเปลี่ยน เพราะอัพเดทไม่ได้
tup_items = ('egg', 'bread','pepsi')
print(tup_items)

('egg', 'bread', 'pepsi')

In [ ]:
tup_items.count('egg')

1

In [ ]:
# username password
# student1, student2
s1 = ("id001", "123456")
s2 = ("id002", "654321")
user_pw = (s1, s2)

print(user_pw)

(('id001', '123456'), ('id002', '654321'))

In [ ]:
# tuple unpacking
username, password = s1

print(username, password)

id001 123456

In [ ]:
# tuple unpacking 3 values
name, age, gpa = ("John Wick", 42, 3.98)
print(name, age, gpa)

John Wick 42 3.98

In [ ]:
# tuple unpacking 3 values
name, age, _ = ("John Wick", 42, 3.98) # _ ใส่ไว้สำหรับตัวที่ไม่อยากใช้
print(name, age)

John Wick 42

In [ ]:
# set {unique}
courses = ["Python", "Python", "R", "SQL"]

In [ ]:
set(courses)  # ไม่โชว์ค่าที่ซ้ำกัน จะโชว์แค่ 1 ตัว

{'Python', 'R', 'SQL'}

In [ ]:
# dictionary kay: value pairs (mutable)
courses = {
    "name": "Data Science Bootcamp",
    "duration": "4 months",
    "student": 200,
    "replay": True,
    "skills": ["Google Sheets", "SQL", "R", "Python", 
               "Stats", "ML", "Dashboard", "Data Tranformation"]
}

In [ ]:
courses

{'name': 'Data Science Bootcamp',
 'duration': '4 months',
 'student': 200,
 'replay': True,
 'skills': ['Google Sheets',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashboard',
  'Data Tranformation']}

In [ ]:
courses["name"]

'Data Science Bootcamp'

In [ ]:
courses["starts_time"] = "9 am" # สร้าง key ใหม่
courses["language"] = "Thai"

In [ ]:
courses

{'name': 'Data Science Bootcamp',
 'duration': '4 months',
 'student': 200,
 'replay': True,
 'skills': ['Google Sheets',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashboard',
  'Data Tranformation'],
 'starts_time': '9 am',
 'language': 'Thai'}

In [ ]:
# ลบ key
# del courses["language"]

courses["replay"] = False
courses

{'name': 'Data Science Bootcamp',
 'duration': '4 months',
 'student': 200,
 'replay': False,
 'skills': ['Google Sheets',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashboard',
  'Data Tranformation'],
 'starts_time': '9 am',
 'language': 'Thai'}

In [ ]:
courses["skills"][0:3]

['Google Sheets', 'SQL', 'R']

In [ ]:
courses["skills"][-3:]

['ML', 'Dashboard', 'Data Tranformation']

In [ ]:
list(courses.keys())

['name', 'duration', 'student', 'replay', 'skills', 'starts_time', 'language']

In [ ]:
list( courses.values() )

['Data Science Bootcamp',
 '4 months',
 200,
 False,
 ['Google Sheets',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashboard',
  'Data Tranformation'],
 '9 am',
 'Thai']

In [ ]:
list( courses.items())

[('name', 'Data Science Bootcamp'),
 ('duration', '4 months'),
 ('student', 200),
 ('replay', False),
 ('skills',
  ['Google Sheets',
   'SQL',
   'R',
   'Python',
   'Stats',
   'ML',
   'Dashboard',
   'Data Tranformation']),
 ('starts_time', '9 am'),
 ('language', 'Thai')]

In [ ]:
courses.get("replay")

False

In [ ]:
# Recap
# list, dictionary = mutable
# tuple, string = immutable

In [ ]:
# control flow
# if for while

In [ ]:
# final exam 150 questions, pass >= 120
def grade(score):
    if score >= 120:
        return "passed"
    else: 
        return "failed"

In [ ]:
result = grade(88)

failed

In [ ]:
def grade(score):
    if score >= 120:
        return "Excellent"
    elif score >= 100:
        return "Good"
    elif score >= 80:
        return "Okay"
    else: 
        return "Need to read more!"

In [ ]:
result = grade(95)
print(result)

Okay

In [ ]:
# use and, or in condition
# course == data science, score >= 80 passed
# course == english, score >= 70 passed
def grade(course, score):
    if course == "english" and score >= 70:
        return "passed"
    elif course == "data science" and score >= 80:
        return "passed"
    else:
        return "failed"

In [ ]:
grade("english", 52)

'failed'

In [ ]:
not True

False

In [ ]:
# for loop 
# if score >= 80, passed
def gradeing_all(scores):
    new_scores = []
    for score in scores:
        new_scores.append(score+2) # เอาค่าใหม่ ใส่ไปใน new_scores
    return(new_scores)

In [ ]:
gradeing_all([75, 88, 90, 95, 52])

[77, 90, 92, 97, 54]

In [ ]:
# list comprehention
scores = [75, 88, 90, 95, 52]

In [ ]:
new_scores = [s*2 for s in scores]
new_scores

[150, 176, 180, 190, 104]

In [ ]:
friends = ["toy", "ink", "bee", "zue", "yos"]
[f.upper() for f in friends]

['TOY', 'INK', 'BEE', 'ZUE', 'YOS']

In [ ]:
# while loop รันไปเรื่อยๆ จนมีเงื่อนไขที่ให้ออกจาก loop
count = 0

while count < 5:
    print("hello")
    count += 1

hello
hello
hello
hello
hello

In [ ]:
# chatbot for fruit order
user_name = input("what is your nam? ")

what is your nam? John

In [ ]:
user_name

'John'

In [ ]:
def chatbot():
    fruits = []
    while True:
        fruit = input("What fruit do you want to order? ")
        if fruit == "exit":
            return fruits
        fruits.append(fruit)

In [ ]:
chatbot()

What fruit do you want to order? banana
What fruit do you want to order? grape
What fruit do you want to order? exit

['banana', 'grape']

In [ ]:
age = int( input("how old are you? ") )

how old are you? 22

In [ ]:
type(age)

int

In [ ]:
# OOP - Object Oriented Programming 
# Dog Class สร้าง object ให้ Python
class Dog: # การสร้างต้องเริ่มด้วย class และ ชื่อตัวแรกต้องเป็นพิมใหญ่
    pass
    def __init__(self, name, age, breed): # อันเดอร์สกอร์ติดกัน 2 ตัว
        self.name = name 
        self.age = age
        self.breed = breed

In [ ]:
dog1 = Dog("ovaltine", 2, "chihuahua")
dog2 = Dog("milo", 3, "bulldog")
dog3 = Dog("pepsi", 3.5, "german shepherd")

In [ ]:
print(dog1.name, dog1.age, dog1.breed)

ovaltine 2 chihuahua

In [ ]:
class Employee: 
    pass

In [ ]:
class Employee: 
    def __init__(self, id, name, dept, pos):
        self.id = id
        self.name = name
        self.dept = dept
        self.pos = pos # position

    def hello(self):
        print(f"Hello! my name is {self.name}")

    def work_hours(self, hours):
        print(f"{self.name} works for {hours} hours.")
        
    def change_dept(self, new_dept):
        self.dept = new_dept
        print(f"{self.name} is now in {self.dept}.")

In [ ]:
emp1 = Employee(1, "John", "Finance", "Financial Analyst")

In [ ]:
print(emp1.id, emp1.name, emp1.dept, emp1.pos)

1 John Finance Financial Analyst

In [ ]:
emp1.hello()

Hello! my name is John

In [ ]:
emp1.work_hours(8)

John works for 8 hours.

In [ ]:
emp1.change_dept("Data Science")

John is now in Data Science.

In [ ]:
# Object: attribute => name, id dept, pos
# Object: method => hello(), change_dept(), work_hours()

In [ ]:
# create new ATM class 5 method

class ATM: 
    def __init__(self, name, bank, balance):
        self.name = name
        self.bank = bank
        self.balance = balance
    def deposit(self, amt):
        self.balance += amt
scb = ATM("toyeiei", "scb", 500)
print(scb.balance)

scb.deposit(100)
print(scb.balance)

500
600